{% extends 'almacen/base_almacen.html' %}
{% load static %}

{% comment %}
Formulario para crear/editar COMPRAS DIRECTAS.
Shell: carga estilos y delega el contenido al partial principal.
{% endcomment %}

{% block title %}{{ titulo }} - Almacén{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form_solicitud.css' %}">
<link rel="stylesheet" href="{% static 'css/form_compra.css' %}">
{% endblock extra_css %}

{% block almacen_content %}
{% include 'almacen/compras/partials/form_compra_main.html' %}
{% endblock almacen_content %}

{% block extra_js %}
<script src="{% static 'js/form_compra.js' %}"></script>
{% endblock extra_js %}
